main.scores {
    display: flex;
    flex-direction: column;
}

.scores-container {
    background-color: var(--scoreArea-bg-color);
    width: 30%;
    height: 220px;
    font-size: 1.5rem;
    gap: 5px;
    text-align: center;
    padding: 15px;
    border: 1px solid var(--border-color);
}

.scores .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.buttons .btn {
    font-size: 1rem;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid var(--border-color);
    transition: 0.3s ease-in-out;
    text-transform: uppercase;
    color: var(--option-color);
    background-color: var(--scoreArea-bg-color);
    width: 30%;
}

main.scores .btn:hover {
    color: var(--text-color);
    background-color: var(--btn-bg-color);
    cursor: pointer;
}

/* Responsive */

@media (max-width: 768px) {
    .buttons .btn {
        font-size: 0.8rem;
        padding: 5px 0;
        text-align: center;
        width: 40%;
        margin-bottom: 10px;
    }
}

@media(max-width: 425px) {
    .scores-container,
    .scores .buttons {
        width: 75%;
    }

    .buttons .btn {
        width: 45%;
    }
}