:root {
    --bg-color: linear-gradient(270deg, rgba(43, 120, 189, 1) 3%, rgba(41, 183, 224, 1) 100%);
    ;
    --main-container-color: radial-gradient(circle, rgba(40, 52, 111, 1) 0%, rgba(27, 3, 8, 1) 100%);
    --text-color: #ffffff;
    --progress-bar-color: #000;
    --option-color: #000;
    --option-bg-color: #ffffff;
    --scoreArea-bg-color: #ffffff;
    --btn-bg-color: #000;
    --border-color: rgb(233, 235, 241);
}

/* Importing Google font - Inter - Lexenda Deca */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* End Reset */

body {
    background: var(--bg-color);
}

header {
    padding: 40px 100px;
}

header .logo {
    font-size: 2rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--text-color);
}

/* Main Style */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

.container {
    display: flex;
    width: 900px;
    background: var(--main-container-color)
}

.container .left-side,
.container .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 40px 60px 40px 40px;
}

.left-side .left-side-header h2 {
    font-size: 1.6rem;
    color: var(--text-color);
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.left-side .left-side-header h3 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 7px;
}

.left-side .info p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.1rem;
    line-height: 1.5em;
    margin-top: 20px;
    color: var(--text-color);
}

.right-side a {
    padding: 15px;
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 4px;
    border: 1px solid var(--border-color);
    transition: 0.3s ease-in-out;
    text-transform: uppercase;
    color: var(--text-color);
}

.right-side a:hover {
    color: var(--text-color);
    background: var(--bg-color);
}

/* Aside */

.menu-aside {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: fixed;
    width: 80px;
    top: 0;
    right: 0;
}

.menu-aside ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-aside .icon {
    width: 30px;
    filter: invert(1);
    transition: 0.3s ease-in-out;
}

.menu-aside .icon:hover {
    transform: scale(1.2);
}

/* Responsive */

@media (max-width: 1024px) {
    main {
        min-height: 50vh;
    }

    .container {
        width: 800px;
    }

    .left-side .left-side-header h3 {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    .container {
        width: 620px;
    }

    .left-side .left-side-header h3 {
        font-size: 1.8rem;
    }

    .left-side .info p {
        font-size: 1rem;
    }

    .right-side a {
        font-size: .8rem;
        padding: 10px;
        margin-top: 30px;
    }
}

@media (max-width: 425px) {
    header {
        padding: 40px;
        text-align: center;
    }

    .container {
        width: 600px;
        flex-direction: column;
        align-items: center;
        padding: 10px; 
    }

    .left-side .left-side-header h2 {
        font-size: 1.2rem;
    }

    .left-side .left-side-header h3 {
        font-size: 1.8rem;
    }

    .container .left-side,
    .container .right-side {
        width: 100%;
        padding: 15px 40px;
    }

    .left-side .info p {
        font-size: 0.9rem;
    }

    .menu-aside {
        width: 40px;
    }

    .menu-aside .icon {
        width: 22px;
    }
}

@media (max-width: 320px) {
    .left-side .left-side-header h3 {
        font-size: 1.4rem;
    }

    .container .left-side,
    .container .right-side {
        padding: 15px;
        max-width: 80%;
    }

    .menu-aside .icon {
        width: 20px;
    }
}