/* ----------- Quiz Styles ----------- */

header {
    display: flex;
    justify-content: space-between;
}

.quiz-title {
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 1.7rem;
    letter-spacing: 5px;
}

.main-quiz {
    display: flex;
    min-height: 75vh;
    gap: 15px;
}

.progress {
    height: 15px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.progress--bar {
    background-color: var(--progress-bar-color);
    height: 100%;
    transition: all ease .5s;
}

.questionArea,
.scoreArea {
    display: none;
}

.questionArea {
    width: 60%;
    padding: 30px;
}

.question {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

.option {
    display: flex;
    align-items: center;
    color: var(--option-color);
    background-color: var(--option-bg-color);
    margin: 10px;
    padding: 10px;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
}

.option span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 10px;
    background-color: var(--option-color);
    color: var(--text-color);
}

.option:hover {
    transform: scale(1.01);
}

.scoreArea {
    flex-direction: column;
    background-color: var(--scoreArea-bg-color);
    padding: 30px;
    margin: 15px;
    text-align: center;
    width: 500px;
}

.scoreText1 {
    color: var(--option-color);
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;
}

.scorePct {
    color: #0d630d;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.scoreText2 {
    font-size: 1rem;
    color: var(--option-color);
    margin-bottom: 10px;
}

.scoreArea button,
.scoreArea a,
.saveForm input {
    border: 1px solid black;
    background-color: var(--scoreArea-bg-color);
    color: var(--option-color);
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1rem;
}

.saveForm input {
    font-style: italic;
    text-transform: none;
}

.scoreArea .saveForm {
    display: flex;
    flex-direction: column;
}

.scoreArea button:hover,
.scoreArea a:hover,
.saveForm input:hover {
    background-color: var(--btn-bg-color);
    color: var(--text-color);
}

@media (max-width: 768px) {
    .question {
        font-size: 1.5rem;
    }

    .option {
        font-size: 1.2rem;
    }
}

@media (max-width: 425px) {
    header .logo {
        font-size: 1.5rem;
        letter-spacing: 3px;
    }

    .quiz-title {
        font-size: .9rem;
        letter-spacing: 3px;
    }

    .questionArea {
        width: 80%;
        padding: 10px;
    }

    .question {
        font-size: 1.25rem;
    }

    .option,
    .option span {
        font-size: 1rem
    }

    .scoreArea {
        margin: 0 50px;
        width: 80%;
    }

    .scoreText1,
    .scorePct {
        font-size: 1.2rem;
    }

    .scoreArea button,
    .scoreArea a,
    .saveForm input {
        font-size: .8rem;
    }

}