:root {
    --bg-color: linear-gradient(270deg, rgba(43, 120, 189, 1) 3%, rgba(41, 183, 224, 1) 100%);
    ;
    --main-container-color: radial-gradient(circle, rgba(40, 52, 111, 1) 0%, rgba(27, 3, 8, 1) 100%);
    --text-color: #ffffff;
    --progress-bar-color: #000;
    --option-color: #000;
    --option-bg-color: #ffffff;
    --scoreArea-bg-color: #ffffff;
    --btn-bg-color: #000;
    --border-color: rgb(233, 235, 241);
}


/* Importing Google font - Inter - Lexenda Deca */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* End Reset */

body {
    /* cssgradient.io */
    background: var(--bg-color);
}

header {
    padding: 40px 100px;
}

header .logo {
    font-size: 2rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--text-color);
}

/* Main Style */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

.container {
    display: flex;
    width: 900px;
    background: var(--main-container-color) /* cssgradient.io */
}

.container .left-side,
.container .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 40px 60px 40px 40px;
}

.left-side .left-side-header h2 {
    font-size: 1.6rem;
    color: var(--text-color);
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.left-side .left-side-header h3 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 7px;
}

.left-side .info p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.1rem;
    line-height: 1.5em;
    margin-top: 20px;
    color: var(--text-color);
}